@model UMSV3.Models.PasswordReset
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        h1 {
            margin-top: 0;
            background-color: black;
            color: white;
            font-style: italic;
            padding: .5em;
        }
    </style>
    <script src="~/Scripts/jquery-3.4.1.intellisense.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body style="background-color:darkgrey;">
    <h1 class="text-center"><b>User Management System - </b>Password Reset</h1>
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="form-group jumbotron" style="margin-top:55%;">
                @*<p class="text-danger">@ViewBag.Shout</p>*@
                @Html.ValidationSummary(true)
                @using (@Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" row>
                        @Html.LabelFor(model => model.OldPassword)
                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" row>
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" row>
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <button type="submit" value="Submit" class="btn btn-primary")">Submit</button>
                        </div>
                        @Html.ActionLink("Logout", "Logout")
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<a href="~/Scripts/jquery-3.4.1.min.map">~/Scripts/jquery-3.4.1.min.map</a>
    <a href="~/Scripts/jquery-3.4.1.slim.min.map">~/Scripts/jquery-3.4.1.slim.min.map</a>*@
@Scripts.Render()
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
